body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: grey; 
}

a:hover {
    color: black;
}

input {
    padding:8px;
    margin-left: 10px;
    width: 250px;
}

button {
    padding: 8px;
    min-width: 150px;
    background-color: inherit;
    border: 1px solid grey;
    color: grey;
    
}

button:hover {
    color: black;
    border: 1px solid black;
}

main {
    margin-inline: auto;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0px;
}



.nav__list {
    display: flex;
    gap: 20px;
    font-size: 22px;
    text-decoration: none;
    margin-inline: 50px;
}

.nav__item--active>a {
    color: black;
}



.hashtags {
    display: flex;
    gap: 10px;
}

.hash__link {
    color: grey;
    border: 1px solid grey; 
    padding: 7px;
    border-radius: 5px;
}

.hash__link--active {
    border: 1px solid black;
    color: black;
}


.chats {
    border: 1px solid black;
    border-radius: 5px;
    min-height: 400px;
    width: 600px;
    padding: 20px;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.chats__users {
    display: flex;
    flex-direction: column;
    gap:15px;
}

/* .chats__btn--active {
    color: black;
    border: 1px solid black;
} */

.chats__link {
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    display: block; 
    width: 80%;
    padding: 7px;
}

.chats__link--active {
    border: 1px solid black;
    color: black;
}


.chats__messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chats__item {
    border: 1px solid black;    
    border-radius: 5px;
    height: min-content;
    padding: 10px;
}

.chats__username {
    color: #d3c015;
    font-size: 20px;
    font-weight: 800;
}



.hastag-form {
    display: flex;
    gap: 20px;
}
